<div class="basket-shop">
    <div class="basket-shop__plate">
        <div class="basket-shop__section">
            <div class="basket-shop__row basket-shop__products">
                <div>Товары <span>(3)</span></div>
                <div><span class="sum">12 800</span> ₽</div>
            </div>
            <div class="basket-shop__row basket-shop__discount">
                <div>Скидка</div>
                <div><span class="sum">– 300</span> ₽</div>
            </div>
            <div class="basket-shop__coupon">У меня есть код для скидки</div>
        </div>
        <div class="basket-shop__section">
            <div class="basket-shop__row basket-shop__total">
                <div>Итого</div>
                <div><span class="sum">8 370</span> ₽</div>
            </div>
            <button class="basket-shop__btn btn btn_lg" type="button">Оформить заказ</button>
            <!-- /.basket-shop__btn -->
        </div>

    </div>
    <div class="basket-shop__info">Доступные способы и время доставки можно выбрать при оформлении
        заказа.
    </div>
</div>
